.product {
    width: 30vh;
   
 /* Fixed width for all product cards */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 0.4vh solid black;
    border-radius: 12px;
   
        
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    
  }

  .product:hover {
    transform: translateY(-5px);
  }

  .product img {
   border: 0.3vh solid white;
   border-radius: 12px;
    width: 100%;
    height: 200px; /* Fixed height for all images */
    object-fit: cover; /* Ensure images cover their container */
  }

  .modal {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #5d5d5d;
    margin:  auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 12px;
    width: 80%;

}

  .title{
    color: rgb(255, 111, 97);
  }
  .description{
    color: rgb(163, 163, 163);

  }
  .details{

    bottom: 0;
    padding: 2vh 0;
    display: flex;
  }
  .unit{
    text-align: center;
    width: 33.3%;
  }